{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height_inches</th>
        <th scope="col">Weight_lbs</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for stat of players %}
    <tr>
        <td><a href="view/{{mlb.id}}">{{ mlb.fldName }}</a></td>
        <td>{{ city.fldName }}</td>
        <td>{{ city.fldTeam }}</td>
        <td>{{ city.fldPosition }}</td>
        <td>{{ city.fldHeight_inches }}</td>
        <td>{{ city.fldWeight_lbs }}</td>
        <td>{{ city.fldAge }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}