{% extends "layout.html" %}
{% block content %}
<form action="/mlb/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">Player's Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Players Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldTeam">Player Team</label>
            <input id="fldTeam" t ype="text" class="form-control" placeholder="City Team" name="fldTeam">
        </div>
        <div class="col">
            <label for="fldPosition">Player Position</label>
            <input id="fldPosition" type="text" class="form-control" placeholder="Position" name="fldPosition">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldHeight_inches">Height (ins)</label>
            <input id="fldHeight_inches" type="text" class="form-control" placeholder="Height_inches" name="fldHeight_inches">
        </div>
        <div class="col">
            <label for="fldWeight_lbs">Weight (lbs)</label>
            <input id="fldWeight_lbs" type="text" class="form-control" placeholder="Weight_lbs" name="fldWeight_lbs">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldAge">Age</label>

            <input id="fldAge" type="text" class="form-control" placeholder="Age" name="fldAge">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}